.btns {
  display: flex;
}

.special__btns {
  display: flex;
  flex-direction: column;
}

.special__btns button {
  height: 141px;
  width: 80px;
}

.wrap button,
.nums button,
.storage button {
  width: 80px;
  height: 80px;
}
